<mat-card class="col-xl-6 mx-auto shadow">
    <p class="mat-display-1 mb-3 text-center">
        Registro de clientes
    </p>
    <form class="row" (ngSubmit)="onSubmit()"
        [formGroup]="form">
        <mat-form-field class="col-12 mb-1">
            <mat-label>
                Nombre
            </mat-label>
            <input matInput type="text" formControlName="name">
            <mat-error *ngIf="form.get('name').invalid">
                {{messenger.getInputError(form, 'name')}}
            </mat-error>
        </mat-form-field>
        <mat-form-field class="col-12 mb-1">
            <mat-label>
                DUI
            </mat-label>
            <input matInput type="text" formControlName="dui"
                maxlength="10">
            <mat-hint>Ej: 01234567-8</mat-hint>
            <mat-error *ngIf="form.get('dui').invalid">
                {{messenger.getInputError(form, 'dui')}}
            </mat-error>
        </mat-form-field>
        <mat-form-field class="col-12 mb-1">
            <mat-label>
                Mascota
            </mat-label>
            <input matInput type="text" formControlName="petName">
            <mat-error *ngIf="form.get('petName').invalid">
                {{messenger.getInputError(form, 'petName')}}
            </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary"
            class="col-11 mx-auto py-2"
            [disabled]="form.invalid">
            Enviar
        </button>
    </form>
</mat-card>