<h1 mat-dialog-title>Nueva cita</h1>
<div mat-dialog-content>
    <form [formGroup]="form" class="row">
        <mat-form-field class="mb-1 col-12">
            <mat-label>Tratamiento</mat-label>
            <input matInput type="text"
                formControlName="treatment">
            <mat-error *ngIf="form.get('treatment').invalid">
                {{messenger.getInputError(form, 'treatment')}}
            </mat-error>
        </mat-form-field>
        <mat-form-field class="mb-1 col-12">
            <mat-label>Medicamento</mat-label>
            <input matInput type="text"
                formControlName="drug">
            <mat-error *ngIf="form.get('drug').invalid">
                {{messenger.getInputError(form, 'drug')}}
            </mat-error>
        </mat-form-field>
        <mat-form-field class="mb-1 col-12">
            <mat-label>Costo</mat-label>
            <input matInput type="number"
                min="0" step="0.01"
                formControlName="regularCost">
            <span matPrefix>$&nbsp;</span>
            <mat-error *ngIf="form.get('drug').invalid">
                {{messenger.getInputError(form, 'drug')}}
            </mat-error>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">
        Cancelar
    </button>
    <button mat-button [mat-dialog-close]="form.value"
        [disabled]="form.invalid">
        Enviar
    </button>
</div>